#navbar {
    float: left;
    width: 330px;
    height: 100%;
    overflow: scroll;
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    font-family: arial;
    color: #4d4e53;
  }
header{
    font-size: 30px;
    font-family: arial;
    margin-left: 32px;
    margin-top: 15px;
    color: black;
}


    