#navbar {
    float: left;
    width: 330px;
    height: 100%;
    overflow: scroll;
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    font-family: arial;
    color: #4d4e53;
  }

header{
    font-size: 30px;
    font-family: arial;
    margin-left: 32px;
    margin-top: 15px;
    color: black;
}

.nav-list {
    list-style-type: none;
    margin-top: 10px;
    padding-top: 10px;
}

.nav-list-item {
    margin-top: 20px;
    border-top: 1px solid black;
    margin-left: -40px;
    padding-top: 15px;
    height: 23px;
}

.nav-link {
    margin-left: 30px;
    font-size: 16px;
    color: #4d4e53;
    text-decoration: none;
}

#main-doc {
    margin-left: 370px;
    font-family: arial;
    font-size: 15px;
    color: #4d4e53;
}

p {
    margin-top: 20px;
    line-height: 22px;
}
  
li {
    margin-top: 20px;
    line-height: 22px;
}
  
code {
    border-radius: 2px;
    background-color: #f7f7f7;
    line-height: 30px;
    font-size: 13px;
}

@media screen and (max-width: 768px) {
  #navbar {
      float: none;
      height: 200px;
      width: 100%;
    }
}










